/* *::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} */
* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
html {
  font-size: 1em;
}
body {
  background-color: var(--body-bgcolog);
  font-size: var(--body-fontSize);
  color: var(--body-fontColor);
  font-family: "Lato";
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: var(--container-size);
  max-width: 100%;
  box-shadow: 0 0 20px var(--shadow-color);
}
.box {
  box-sizing: border-box;
  width: var(--box-width);
  max-width: 100%;
  margin: 0 auto;
}
.line {
  margin: 10px 5px;
  padding: 0;
  border-bottom: 1px solid var(--line-color);
}
.all-blocks-title {
  padding: 0 20px;
  color: var(--link-colorBlue);
  font-size: 1.8rem;
  margin-bottom: 0;
  text-transform: capitalize;
}
.little-cart-stripe-turning {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--text-bg);
  color: var(--link-colorWhite);
  position: absolute;
  transform: rotate(-90deg);
  right: -111px;
  bottom: 120px;
}
.little-cart-stripe {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--text-bg);
  color: var(--link-colorWhite);
}
.little-cart-stripe-big {
  position: absolute;
  bottom: 5px;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--text-bg);
  color: var(--link-colorWhite);
}

.little-cart-stripe p {
  padding: 10px;
  margin: 0;
}
.little-cart-stripe-big p,
.little-cart-stripe-turning p {
  padding: 10px 30px;
  margin: 0;
  align-items: center;
  align-self: stretch;
}
.stripe__text-blue,
.stripe__text-dark,
.stripe__wish,
.stripe__cart,
.stripe__price {
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
.stripe__text-blue {
  color: var(--link-colorWhite);
  background: var(--link-colorBlue);
}
.stripe__text-dark {
  font-size: 2em;
  text-transform: uppercase;
  color: var(--link-colorWhite);
  background: var(--text-bg);
}
.stripe__whish {
  background: var(--link-colorBlue-dark);
}
.stripe__cart {
  background: var(--link-colorRed);
}
.stripe__price {
  background: var(--stripe-price-bc);
  font-size: 1.2em;
}

.line-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.arrows {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow-left,
.arrow-right {
  padding: 15px;
  content: url("../images/arrow-left.png");
  background: #3c3c3c;
  border-right: 1px solid var(--link-colorWhite);
}
.arrow-right {
  content: url("../images/arrow-right.png");
}
.arrow-left:hover {
  background: var(--link-colorBlue);
}
.arrow-left:hover {
  background: var(--link-colorBlue);
}
.arrow-right:hover {
  background: var(--link-colorRed);
}