@media (max-width: 1200px) {
  .carousel {
    width: 776px;
  }
  .carousel2 {
    width: 870px;
  }
}
@media (max-width: 1024px) {
  .header__megamenu-link {
    padding: 15px;
  }
  .search__input {
    padding: 25px 20px;
    width: 300px;
  }
  .footer__list-links-title {
    font-size: 1.2em;
  }
  .footer__block {
    flex-basis: 40%;
    flex-grow: 1;
    align-self: stretch;
  }
}
@media (max-width: 895px) {
  .carousel2 {
    width: 580px;
  }
}
@media (max-width: 858px) {
  .bigtext {
    font-size: 1em;
  }
  .stripe__price {
    font-size: 1em;
  }
  .little-cart-stripe-big p,
  .little-cart-stripe-turning p {
    padding: 5px 10px;
  }
  .little-cart-stripe-turning {
    bottom: 83px;
    right: -77px;
  }
}
@media (max-width: 780px) {
  .carousel {
    width: 388px;
  }
}
@media (max-width: 740px) {
  .header__megamenu-link {
    padding: 8px;
  }
  .search__input {
    padding: 20px 10px;
  }
  .search__button {
    margin: 0;
  }
  .slider-block2-title,
  .slider-image-block1-title {
    font-size: 1.2em;
  }
  .slider-image-block1-text,
  .slider-block2-text {
    font-size: 0.7em;
  }
  .slider-block1-link {
    font-size: 0.7em;
  }
}
@media (max-width: 653px) {
  .start-mobile-menu {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
  }
  .header__megamenu-list {
    display: none;
  }
  .header__megamenu {
    order: -2;
  }
  .header__cartmenu-block {
    justify-content: space-evenly;
  }
  .header__megamenu-link {
    padding: 5px;
  }
  .header__cartmenu-link {
    padding: 10px 0;
    max-width: 100%;
  }
  .header__logo img {
    max-height: 50px;
  }
  .search__input {
    margin: 30px;
  }
  .header__topmenu {
    justify-content: space-evenly;
  }
  .search__button-submit {
    width: 53px;
  }
  .slider-block2-title,
  .slider-image-block1-title {
    font-size: 1.5em;
  }
  .slider-image-block1-text,
  .slider-block2-text {
    font-size: 0.9em;
  }
  .slider-block1-link {
    font-size: 0.9em;
  }
  .slider-block2-title,
  .slider-image-block1-title {
    font-size: 1.2em;
  }
  .slider-image-block1-text,
  .slider-block2-text {
    font-size: 0.7em;
  }
  .slider-block1-link {
    font-size: 0.7em;
  }
  .header__slider,
  .main__search {
    flex-wrap: wrap;
  }
  .header__slider-small-block,
  .main__search-block1,
  .main__search-block2,
  .slider-image,
  .search-image,
  .header__slider-big,
  .header__slider-small {
    min-width: 100%;
    flex-basis: 100%;
    align-self: stretch;
    flex-grow: 1;
    padding: 2px 0;
    margin: 0;
  }
  .header__logo {
    display: none;
  }
  .start-mobile-menu{
    max-height: 70px;
  }
}
@media (max-width: 580px) {
  .carousel2 {
    width: 290px;
  }
}
@media (max-width: 480px) {
 .header__cartmenu-link{
   flex-basis: 40%;
 }
 .footer__copyright{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
}
@media (max-width: 445px) {
  .search__input {
    margin: 30px 0 30px 10px;
    padding: 20px 5px;
  }
  .search__button {
    margin: 0;
  }
  .search__button-submit {
    width: 33px;
  }
  .all-blocks-title {
    font-size: 1.2em;
  }
  .footer__block {
    flex-basis: 80%;
    flex-grow: 1;
    align-self: stretch;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__list-links {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 390px) {
  .carousel {
    width: 290px;
  }
}
@media (max-width: 300px) {
  .carousel {
    width: 200px;
  }
  .product__description-block {
    flex-wrap: wrap;
  }
  .product__description-paragraph,
  .product__description-price {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 2;
  }
}
