@import 'header/header.css';
@import 'header/topmenu.css';
@import 'header/cartmenu.css';
@import 'header/megamenu.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root {
	--body-bgcolog: #fff;
	--body-fontSize: 16px;
	--body-fontColor: #434343;
	--conteiner-size: 1440px;
    --link-colorWhite:#fff;
	--link-colorRed: #f0626e;
	--link-colorBlue: #05aecc;
    --box-width: 1170px;
}
* {
	box-sizing: border-box;
}
* a {
	text-decoration: none;
}
body {
	background-color: var(--body-bgcolog);
	font-size: var(--body-fontSize);
	color: var(--body-fontColor);
	font-family: 'Lato';
}
.container {
	width: var(--conteiner-size);
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0 0 20px #ccc;
}
.box {
	width: var(--box-width);
	max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.line{
    border-bottom: 1px solid  #b9b9b9;
}

