@import 'header/header.css';
@import 'header/topmenu.css';
@import 'header/cartmenu.css';
@import 'header/megamenu.css';
@import 'header/slider.css';
@import 'main/search.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root {
	--body-bgcolog: #fff;
	--body-fontSize: 1rem;
	--body-fontColor: #434343;
	--container-size: 1440px;
	--link-colorWhite: #fff;
	--link-colorRed: #f0626e;
	--link-colorBlue: #05aecc;
	--box-width: 1170px;
	--shadow-color: #555;
	--line-color: #b9b9b9;
}
* {
	box-sizing: border-box;
}
* a {
	text-decoration: none;
}
body {
	box-sizing: border-box;
	background-color: var(--body-bgcolog);
	font-size: var(--body-fontSize);
	color: var(--body-fontColor);
	font-family: 'Lato';
}
.container {
	box-sizing: border-box;
	width: var(--container-size);
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0 0 20px var(--shadow-color);
}
.box {
	width: var(--box-width);
	max-width: 100%;
	margin: 0 auto;
}
.line {
	border-bottom: 1px solid var(--line-color);
}
@keyframes show {
	0% {
		transform: scale(0.1, 0.1);
		-webkit-transform: scale(0.1, 0.1);
		-moz-transform: scale(0.1, 0.1);
		-ms-transform: scale(0.1, 0.1);
		-o-transform: scale(0.1, 0.1);
	}
	100% {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
	}
}
@media (max-width: 1024px) {
	.header__megamenu-link {
		padding: 15px;
	}
}
@media (max-width: 740px) {
	.header__megamenu-link {
		padding: 8px;
	}
}
@media (max-width: 640px) {
	.header__cartmenu-block {
		justify-content: space-evenly;
	}
	.header__megamenu-link {
		padding: 5px;
	}
	.header__cartmenu-link {
		max-width: 100%;
	}
	.header__logo img {
		max-height: 50px;
	}
}
@media (max-width: 445px) {
	.container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		min-width: 100%;
		flex-grow: 1;
		align-self: stretch;
	}
}
