.footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__copy-text {
  font-size: 0.8em;
  padding: 10px 20px;
}
.footer__copy-link {
  color: var(--link-colorRed);
}

.footer__list-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 100%;
}
.footer__list-links-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 25%;
  align-self: stretch;
  flex-grow: 1;
  padding: 10px;
}
.footer__block a {
  color: var(--body-fontColor);
  font-size: 0.9em;
  padding: 7px;
}
.footer__block a:hover {
  color: var(--link-colorRed);
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
.footer__subscribe input[type="email"] {
  outline: none;
  border: 1px solid var(--link-colorBlue);
  padding: 30px 10px;
  text-align: center;
}
.footer__subscribe input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 20px 10px;
  text-transform: uppercase;
  color: var(--link-colorWhite);
  background: var(--link-colorBlue);
}
.footer__subscribe input[type="submit"]:hover {
  background: var(--link-colorRed);
}
