.header__cartmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.header__cartmenu-block {
  background: var(--header-cart-area);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 100%;
  max-width: 100%;
}
.header__cartmenu-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 111px;
  max-width: 100%;
  margin: 3px;
  align-self: stretch;
  color: var(--link-colorWhite);
}
.header__cartmenu-link:nth-child(odd) {
  background: var(--link-colorBlue);
}
.header__cartmenu-link:nth-child(even) {
  background: var(--link-colorRed);
}
.header__cartmenu-link:hover {
  box-shadow: 0 0 10px var(--shadow-color);
}
