.header {
  max-width: 100%;
}
.header__logo {
  margin: 0 5px;
  background: var(--body-bgcolog);
}
.logo-img {
  width: 153px;
  max-width: 100%;
}
.whish-img,
.cart-img {
  width: 23px;
  max-width: 100%;
}
