.header__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  cursor: pointer;
}
.header__slider-big {
  position: relative;
  flex-basis: 68%;
  max-width: 100%;
  align-self: stretch;
  flex-grow: 1;
  padding-right: 5px;
}
.header__slider-small {
  position: relative;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  align-self: stretch;
  flex-grow: 1;
}

.slider-image {
  align-self: stretch;
  flex-grow: 1;
  min-height: 100%;
  max-width: 100%;
  padding: 2px 0;
}
.slider-image:hover {
  filter: brightness(70%);
}
.slider-image-block1 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 70%;
  color: var(--link-colorWhite);
}
.slider-image-block1-title {
  text-transform: uppercase;
  color: var(--link-colorRed);
  font-size: 3em;
  padding: 7px;
  margin: 0;
  background: var(--text-bg);
}
.slider-image-block1-text {
  font-size: 0.9em;
  color: var(--link-colorWhite);
  text-transform: uppercase;
  background: var(--text-bg);
  padding: 5px 10px 20px 10px;
  margin: 0;
}
.slider-image-block1-title-small {
  margin-top: 2px;
  padding: 7px 0;
  background: var(--link-colorRed);
}
.slider-block1-link {
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 0.9em;
  color: var(--link-colorWhite);
  padding: 5px 7px;
}
.slider-image-block1-title-small:hover {
  background: var(--link-colorBlue);
}
.slider-image-block2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  max-width: 80%;
  background: var(--text-bg);
  color: var(--link-colorWhite);
}
.slider-block2-title {
  text-transform: uppercase;
  color: var(--link-colorRed);
  font-size: 2em;
  padding: 7px;
  margin: 0;
}
.slider-block2-text {
  font-size: 0.9em;
  color: var(--link-colorWhite);
  text-transform: uppercase;
  padding: 5px 10px 20px 10px;
  margin: 0;
}
.header__slider-small-block {
  position: relative;
}
