.header__slider {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	cursor: pointer;
}
.header__slider-big {
	position: relative;
	box-sizing: border-box;
	flex-basis: 68%;
	max-width: 100%;
	align-self: stretch;
	flex-grow: 1;
	padding-right: 5px;
}
.header__slider-small {
	box-sizing: border-box;
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	align-self: stretch;
	flex-grow: 1;
}

.slider-image {
	align-self: stretch;
	flex-grow: 1;
	min-height: 100%;
	max-width: 100%;
	padding: 2px 0;
	transition: 0.3s linear;
	z-index: 4;
}
.slider-image:hover {
	filter: brightness(70%);
}
.slider-image-block1 {
	position: absolute;
	bottom: 1px;
	left: 0;
	z-index: 5;
	width: 350px;
	max-width: 100%;
	/* background: rgba(87, 75, 100, 0.89); */
	color: #fff;
}
.header__slider-small_block {
	position: relative;
}
.slider-image-block1 h1 {
	color: var(--link-colorRed);
	font-size: 3.45em;
	padding: 0;
	margin: 0;
	background: rgba(87, 75, 100, 0.89);
}
.slider-image-block1 p {
	color: var(--link-colorWhite);
	text-transform: uppercase;
	background: rgba(87, 75, 100, 0.89);
	padding: 0;
	margin: 0;
}
