.main__search {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-self: stretch;
	align-items: center;
	flex-grow: 1;
	flex-basis: 100%;
	max-width: 100%;
}
.main__search-block1 {
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	flex-basis: 68%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	align-self: stretch;
	flex-grow: 1;
    padding-top: 2px;
	padding-right: 5px;
}
.main__search-block2 {
	box-sizing: border-box;
	flex-basis: 50%;
	max-width: 100%;
	align-self: stretch;
	flex-grow: 1;
}
.search-image {
	align-self: stretch;
	flex-grow: 1;
	max-width: 100%;
	padding: 2px 0;
}

.main__search-button {
	background: var(--link-colorRed);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	flex-grow: 1;
    max-width: 100%;
}
.main__search-button:hover {
	background: var(--link-colorBlue);
}
.search__button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: 20px;
}
.search__input {
	outline: none;
	border: none;
	padding: 30px 40px;
	max-width: 100%;
	color: var(--body-fontColor);
}
