.main__search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  cursor: pointer;
}
.main__search-block1 {
  cursor: pointer;
  display: flex;
  flex-basis: 68%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  align-self: stretch;
  flex-grow: 1;
  padding-top: 2px;
  padding-right: 5px;
}
.main__search-block2 {
  flex-basis: 50%;
  max-width: 100%;
  align-self: stretch;
  flex-grow: 1;
}
.search-image {
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  max-width: 100%;
  padding: 2px 0;
}
.search-image:hover {
  filter: brightness(70%);
}
.bigtext {
  font-size: 2em;
  text-transform: uppercase;
}
.main__search-button {
  background: var(--link-colorRed);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  max-width: 100%;
}
.main__search-button:hover {
  background: var(--link-colorBlue);
}
.search__button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
}
.search__button-submit {
  width: 53px;
}
.search__button-submit:hover {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}
.search__input {
  outline: none;
  border: none;
  padding: 30px 40px;
  width: 400px;
  max-width: 100%;
  color: var(--body-fontColor);
}
.main__serch-craft {
  position: relative;
}
.main__serch-jewelry {
  position: relative;
}
